@import "tailwindcss";

/* add 5BB665 as primary and 1e1e1e as secondary */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@theme {
  --color-primary: #5BB665;
  --color-muted: #1e1e1e;
  --font-sans: Inter;
  --breakpoint-2xs: 22rem;
  --breakpoint-xs: 30rem;  
  --breakpoint-2xl: 100rem;  
  --breakpoint-3xl: 120rem;
}
html, body, #root {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* overflow-y: hidden; */

  background-color: var(--color-neutral-950)
}
/* @plugin "tailgrids/plugin"; */